// const formatArray = num => {
//   let arr = [];
//   for (var i = 0; i < num; i++) {
//     arr.push(i);
//   }
//   return arr;
// }

//根据数字生成长度为数字的数组
function formatArray(num){
  var arr = [];
  for(var i = 0; i < num; i++){
    arr.push(i);
  }
  return arr;
}

//indexOf函数
function indexOf(arr,item){
  console.log("arr:"+arr);
  console.log("item:"+item);
  if(arr.indexOf(item) == -1){
    return false;
  }
  else{
    return true;
  }
}

//判断数组是否为空
function isEmpty(arr) {
  if (arr.length == 0) {
    return false;
  } else {
    return true;
  }
}

module.exports={
  formatArray: formatArray,
  indexOf : indexOf,
  isEmpty: isEmpty
}